@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1b263b;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width:none;
    height: 100vh; /* Asegúrate de que el contenedor tenga una altura definida */
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    height: 100vh; /* Asegúrate de que las secciones tengan una altura adecuada */
}

#pagina_principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.logo {
    position:absolute; /* Posición fija */
    top: 20px; /* Distancia desde la parte superior */
    left: 20px; /* Distancia desde la izquierda */
    z-index: 1000; /* Z-index alto para que esté por encima de otros elementos */
}
.logo img {
    width: 200px;
}
.inicio {
    text-align: center;
}
.inicio h1 {
    color: #ffffff;
    font-size: 6em;
    margin: 0;
    line-height: 1;
    display: flex;
    flex-direction: column; /* Mostrar en columna */
    align-items: center; /* Centrar horizontalmente */
}
.inicio h1 span {
    margin-top: 0.5em;
    font-size: 0.5em;
    color: #778da9;
}

/*<BUTTONS>*/
.social-links, .flex-center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: #0d1b2a;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
    text-decoration: none;
}
.social-btn svg {
    height: 24px;
    width: 24px;
}
.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
}
.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}
.social-btn:hover span {
    padding: 2px;
    width: 80px;
}
#twitter svg {
    fill: #1da1f2;
}
#linkedin svg {
    fill: #0e76a8;
}
#github {
    fill: #333;
}
.imagen svg, .svg{
    position:fixed;
    right: 0;
    bottom: 0;
    transform: translate(-0,-0);
}
/*<BUTTONS/>*/
.imagen img{
    filter: brightness(0.5);
    position: absolute;
    width: 1500px;
    right: 0;
    top: 0;
    transform: translate(0,0);
    z-index: -1;
}
#segunda-pagina {
    width: 200vw;
    display: flex;
}
.arrow-r
{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.arrow-r img{
    width: 80px;
}
.pag1{
    height: 100vh; /* Ajustar según el contenido adicional */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #778da9;
    position: relative;
}
#pag2{
    height: 100vh; /* Ajustar según el contenido adicional */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #778da9;
}
.proyectos{
    width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: 6%;
    overflow: hidden; /* Para aplicar el border-radius correctamente */
    border-radius: 100px;
    background-color: #1b263b;
    color: #e0e1dd;
    height: 324px;
    margin-top: 40px;
}
.proyectos-par{
    width: 1000px;
    height: 324px;
    display: flex;
    margin-left: auto;
    margin-right: 6%;
    align-items: flex-end;
    justify-content:flex-end;
    align-self: flex-end;
    overflow: hidden; /* Para aplicar el border-radius correctamente */
    border-radius: 100px;
    background-color: #415a77;
    color: #e0e1dd;
    margin-bottom: 40px;
}
.proyectos a{
    height: 303px;
}
.proyectos-par a{
    height: 303px;
}
.portada img{
    width: 400px;
    background-size: cover;
    filter:grayscale(100%); /* Ajusta el brillo de la imagen */
    transition: filter 2s ease;
    cursor: pointer;
}
.portada-par img{
    width: 400px;
    background-size: cover;
    filter:grayscale(100%); /* Ajusta el brillo de la imagen */
    transition: filter 2s ease;
    cursor: pointer;
}
.proyectos p{
    padding: 0 40px 0 40px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: #567497;
}
.proyectos-par p{
    padding: 0 40px 0 40px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    text-align: end;
    color: #7ca6d7;
}
.portada img:hover {
    filter:grayscale(0%); 
}
.portada-par img:hover {
    filter:grayscale(0%);
}
.tecnologias{
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes de tecnologías se ajusten automáticamente */
    padding: 15px;
    justify-content: flex-start;
}
.tecnologias-par{
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes de tecnologías se ajusten automáticamente */
    padding: 15px;
    padding-top:0 ;
    justify-content: flex-end;
}
.tecnologias img{
    width: 40px;
    margin-left: 15px;
}
.tecnologias-par img{
    width: 40px;
    margin-right: 15px;
}

.links a img{
    border-radius: 15px;
    padding: 6px;
    background-color: #b3b6b8;
    margin-top: 25px;
    width: 32px;
    margin-left: 30px;
}
.links-par{
    display: flex;
    justify-content: end;
}
.links-par a img{
    border-radius: 15px;
    padding: 6px;
    background-color: #b3b6b8;
    margin-top: 20px;
    width: 32px;
    margin-right: 30px !important;
}
.seccion1{
    display: grid;
    width: 100%;

    grid-template-columns: 1078px 1fr;
}
.seccion2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1078px;
}
.titulo1{
    display: flex;
    align-items: center;
    margin: auto;
}
.titulo2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}
.titulo1 h2{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #e0e1dd;
}
.titulo2 h2{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #e0e1dd;
}
.textoytecnologias h2{
    margin-left: 15px;
}
.textoytecnologias-par{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.textoytecnologias-par h2{
    margin-bottom: 0;
    margin-right: 15px;
}
@keyframes colorChange {
    0% { background-color: #415a77; }
    25% { background-color: #778da9; }
    50% { background-color: #1b263b; }
    75% { background-color: #567497; }
    100% { background-color: #415a77; }
}

.cv-button {
    display: inline-block;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: colorChange 5s infinite;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #1b263b;
}




#tercera-pagina{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.about-me-img{
    display: flex;
    align-items: center;
    margin: 5%;
    width: 1500px;
}
.about-me-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-texto h1{
    position: absolute;
    top: 20%;
    transform: translatey(-20%);
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    margin-top: 0;
    color: #fff;
}
.about-me-texto p{
   width: 55%;
   color: #e0e1dd;
}

#cuarta-pagina{
    width: 100%;
    height: 100vh;
    background-color: #778da9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: #415a77;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
    box-sizing: border-box;
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #415a77;
    color: #fff;
    cursor: pointer;
  }
  .seccion0{
    display: none;
  }
  .about-me-texto p{
    text-align: center;
  }
  @media (max-width: 993px){
    body{
        overflow-x: hidden;
        display: unset;
    }
    .imagen img{
        filter: brightness(0.5);
    }
    .inicio h1 span {
        color: #ffffff;
    }
    .seccion0{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        font-family: "Prata", serif;
        font-weight: 400;
        font-style: normal;
        color: #e0e1dd;
        backdrop-filter: opacity(10px);
    }
    .about-me-texto h1{
        font-size: 2em;
    }
    .about-me-texto p{
        font-size: 0.8em;
        width: 80%;
        text-align: center;
    }
    .form{
        width: 80%;
    }
    .about-me-img{
        display: none;
    }
    .titulo2{
        display:flex; 
    }
    .logo img{
        width: 100px;
    }

    .inicio h1{
        font-size: 2em;
    }
    .titulo1,.titulo2{
        display: none;
    }
    .portada, .portada-par{
        display: none;
    }
    .seccion1,.seccion2{
        grid-template-columns: none;
        display: flex;
    }
    .proyectos{
        display: block;
        margin-left: 0;
        height: 40vh;
        margin-top: 0;
    }
    .proyectos-par{
        margin-right: 0;
        height: 40vh;
        margin-bottom: 80px;

    }
    .links a img, .links-par a img{
        width: 26px;
        margin-top: 10px;
    }
    .about-me-texto h1{
        top: 5%;
        transform: translatey(-5%);
    }
    .proyectos p,.proyectos-par p{
        text-align: center;
    }
    .proyectos-par p{
        font-size: 1em;
    }
    .textoytecnologias h2{
        display: flex;
        justify-content: center;
    }
    .tecnologias,.tecnologias-par{
        justify-content: center;
        padding: 0;
    }
    .links{
        display: flex;
        justify-content:center;
        gap: 10px;
    }
    .textoytecnologias-par{
        align-items: center;
    }
    .links a img{
        margin-top: 10px;
        margin-left: 0;
    }
    .proyectos a{
        height:unset;
    }
    .proyectos p{
        font-size: 1em;
    }
}
  @media (min-width: 993px) and (max-width: 1400px){
    .proyectos,.proyectos-par{
        height: 40vh;
    }
    .logo img{
        width: 130px;
    }
    .about-me-texto h1{
        font-size: 5em;
        position:unset ;
        padding-top: 40px;
        margin-bottom: 0;
    }
    .about-me-texto p{
        text-align: center;
    }
    .titulo1,.titulo2{
        font-size: 0.8em;
    }
  }
